.download-button {
    padding: 10px;
    background: transparent;
    border: 1px solid;
    margin: 1em;
    &:hover {
        background-color: $skyBlue;
        color: $antiflash-white;
        border: 1px solid $skyBlue;
    }
}
