.navbar {
    display: none;
    z-index: 1;
    @include media(tablette, laptop, desktop) {
        display: flex;
    }

    a {
        &:hover {
            color: $Yellow;
        }
    }

    &-close {
        display: none;
    }
    &-link {
        margin: 0 1em;
    }
}

.active {
    color: $skyBlue;
}
