.menu {
    @include media(tablette, laptop, desktop) {
        @include column-center;
        height: 100vh;
    }
    &-selection {
        position: relative;
        z-index: 1;
        margin: 3em 0;
        width: 100%;
        @include media(tablette, laptop, desktop) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        a {
            @include column-center;
            width: 100%;
            z-index: 1;
            position: relative;
            &:hover {
                transform: scale(1.05);
                transition: transform 300ms ease;
            }
            @include media(tablette, laptop, desktop) {
                width: 30%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }
    }
}
